.wrapper{
    margin: 35px;
}

.mainHeader{
    font-weight: bold;
    text-align: center;
    position: relative;
}

.grid-container {
    display: grid;
    text-decoration: underline;
    font-weight: bold;
    grid-template-columns: auto auto auto auto auto;
    padding: 5px;
    margin: 5px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}